# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Angular dependencies
node_modules/
dist/

# Ignore build folders
obj/
bin/